:root {
  --md-accent-fg-color: #076d63;
}

.md-grid {
  max-width: 1200px; 
}


h2 {
    color: var(--md-accent-fg-color);
    border-top:  var(--md-accent-fg-color) thin solid;
    border-bottom:  var(--md-accent-fg-color) thin solid;
}

div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}
