:root {
  --md-accent-fg-color: #076d63;
}

.md-grid {
  max-width: 1200px; 
}

.md-header__source {
    background-image: url("/img/elixir-white-48x36.png");
    background-repeat: no-repeat;
    background-position: right;   
}

h2 {
    color: var(--md-accent-fg-color);
    border-top:  var(--md-accent-fg-color) thin solid;
    border-bottom:  var(--md-accent-fg-color) thin solid;
}

div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: "–";
    font-size: 0.9em;
}

.mermaid {
  display: flex;
  justify-content: center;
}
